$primary-background: #FAFAF3;
$secondary-background: #FFFFFF;

$primary-color: #31312F;
$secondary-color: whitesmoke;
$accent-color: #DEAD4A;
$accent-color-darker: #B58A40;

$font: Helvetica, sans-serif;

$border-radius: 8px;
$max-page-width: 80%;

$margin-center: 0 auto;

@mixin center() {
    width: $max-page-width;
    margin: $margin-center;
}

@mixin title() {
    padding: 1.2rem;
    font-size: 2rem;
    color: $accent-color;
}

@mixin book-title() {
    padding: 0.2rem;
    font-size: 1.2rem;
    color: $accent-color-darker;
}

@mixin animation-delay($property) {
	-webkit-animation-delay: $property;
	animation-delay: $property;
}

@mixin loading-spinner() {
    // https://projects.lukehaas.me/css-loaders/
    .loader,
    .loader:before,
    .loader:after {
        background: $accent-color;
        -webkit-animation: load1 1s infinite ease-in-out;
        animation: load1 1s infinite ease-in-out;
        width: 1em;
        height: 4em;
    }
    .loader {
        position: relative;
        top: 16rem;
        color: $accent-color;
        margin: 0 auto;
        @include animation-delay(-0.16s);
    }
    .loader:before,
    .loader:after {
		position: absolute;
		top: 0;
		content: '';
    }
    .loader:before {
		left: -1.5em;
        @include animation-delay(-0.32s);
    }
    .loader:after {
		left: 1.5em;
    }
    @-webkit-keyframes load1 {
		0%,
		80%,
		100% {
			box-shadow: 0 0;
			height: 4em;
		}
		40% {
			box-shadow: 0 -2em;
			height: 5em;
		}
    }
    @keyframes load1 {
		0%,
		80%,
		100% {
			box-shadow: 0 0;
			height: 4em;
		}
		40% {
			box-shadow: 0 -2em;
			height: 5em;
		}
	}
}